.banner {
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

    padding-top: 250px;
}

.btn-turquoise {
    width: 100%;
    background: $green;
    border-radius: 3px;
}

.input {
    height: 50px;

    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 3px;

    color: $white;
    padding-left: 20px;
    margin-bottom: 30px;
}

.form-style {
    width: 600px;
}

.color-white {
    color: $white;
}