.footer {
    background: linear-gradient(89.02deg, $purple 32.83%, $dark-orange 81.56%);
    color: $footer-text;

    a {
        color: $footer-text;
    }
}

.footer-description {
    line-height: 40px;
}

.social {
    padding: 5px;
}

.line {
    display: block;
    height: 1px;
    width: 100%;
    background-color: $white;
}

.button-footer {
    padding: 50px 0;
}

.link {
    margin: 5px;
}