.text-style{
    font-weight: bold;
}

.header {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 10;

    text-transform: uppercase;
    a {
        padding: 10px;
        color: $main-grey;
    }

    .color-white {
        color: $white;
    }
}

.search-style {
    background: $dark-grey;
    width: 278px;
    height: 25.71px;
    left: 1560px;
    top: 25px;

    border-radius: 50px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    color: $main-grey;
    padding-left: 10px;
}