.background {
    background-color: $background;
    color: $white;
}

.subscribe {
    width: 350px;
    height: 580px;
    margin-bottom: 50px;

    h2 {
        font-size: 28px;
        margin-bottom: 0px;
        font-weight: normal;
        margin-top: 25px;
    }
}

.subscribe-1 {
    background-image: url(../images/subscribe_1.png);
}

.subscribe-2 {
    background-image: url(../images/subscribe_2.png);
}

.subscribe-3 {
    background-image: url(../images/subscribe_3.png);
}

.subscribe-content {
    height: 55%;
    margin: 25px;

    p {
        font-size: 11px;
    }
}

.subscribe-sum {
    h3 {
        font-size: 60px;
        padding-right: 10px;
        font-weight: normal;
    }

    h4 {
        font-size: 30px;
        font-weight: normal;
    }
}

.btn-subscribe {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
    border: 4px solid $white;
    padding: 5% 18%;
    color: $white;
}

.author {
    padding-left: 50px;
    h3 {
        font-weight: normal;
        font-size: 30px;
    }

    p {
        font-size: 14px;
        color: $news-text;
    }
}

.logo-author {
    margin: 16px 0 51px;
    width: 50%;
    padding-top: 20px;

    h4 {
        font-weight: normal;
        font-size: 12px;
        color: $orange;
        padding-left: 20px;
        padding-top: 3px;
    }
}

.line-two {
    width: 1px;
    height: 11px;
    background: $white;

    p {
        font-size: 12px;
    }
}

.btn-new {
    background-color: $background;
    border: 1px solid $news-text;
    padding: 6px 30px;
    color: $news-text;
    text-transform: uppercase;
    font-size: 12px;
}

.mobile {
    width: 45%;

    p {
        padding-bottom: 20px;
        color: $news-text;
    }
}

.btn-mobil {
    background: $pink;
    color: $white;
    border-radius: 50px;
    width: 160px;
    padding: 15px;
    font-size: 14px;
    margin-top: 40px;
}