$main-color-bg: #000;
$footer-color-bg: linear-gradient(89.02deg, #5328A1 32.83%, #95390C 81.56%);;
$banner-color-bt: #33c175;
$main-color-bt: #fe4158;
$input-color-bg: rgba(255, 255, 255, 0.1);

$main-color-font: #fff;
$secondary-color-font: #8c8c8c;
$third-color-font: #884f07;
$four-color-font: #CACACA;
$data-color-font: #555555;
$catalog-bt-blue: #5328A1;
$catalog-bt-orange: #95390C;